In [1]:
import pandas as pd

In [4]:
df = pd.read_excel("/home/work/mgjeon/NegotiationArena/result_explore/persona_experiment_added_persona_item.xlsx")

In [5]:
df

,game_name,log_path,model_1,model_2,behaviour_1,behaviour_2,resource_delta_1,resource_delta_2,behaviour_1_persona,behaviour_1_persona_item,behaviour_2_persona,behaviour_2_persona_item,sales_price,winner,winner_model
0,BuySellGame,/home/work/mgjeon/NegotiationArena/experiment_...,gpt-4o,gpt-4o,"You are a negotiator who prioritizes teamwork,...",You are a diplomatic negotiator who excels at ...,2,18,Cooperative,C0,Cooperative,C1,42,buyer,gpt-4o
1,BuySellGame,/home/work/mgjeon/NegotiationArena/experiment_...,gpt-4o,gpt-4o,You are a community-minded negotiator who beli...,"You are a negotiator who prioritizes teamwork,...",10,10,Cooperative,C2,Cooperative,C0,50,draw,draw
2,BuySellGame,/home/work/mgjeon/NegotiationArena/experiment_...,gpt-4o,gpt-4o,You are a diplomatic negotiator who excels at ...,"You are a negotiator who prioritizes teamwork,...",15,5,Cooperative,C1,Cooperative,C0,55,seller,gpt-4o
3,BuySellGame,/home/work/mgjeon/NegotiationArena/experiment_...,gpt-4o,gpt-4o,"You are a negotiator who prioritizes teamwork,...","You are a negotiator who prioritizes teamwork,...",15,5,Cooperative,C0,Cooperative,C0,55,seller,gpt-4o
4,BuySellGame,/home/work/mgjeon/NegotiationArena/experiment_...,gpt-4o,gpt-4o,You are a community-minded negotiator who beli...,You are a community-minded negotiator who beli...,10,10,Cooperative,C2,Cooperative,C2,50,draw,draw
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
3750,BuySellGame,/home/work/mgjeon/NegotiationArena/experiment_...,gpt-4-1106-preview,gpt-4-1106-preview,NaN,You are a participant in a Negotiation. Naviga...,7,13,Control,T2,Control,T0,47,buyer,gpt-4-1106-preview
3751,BuySellGame,/home/work/mgjeon/NegotiationArena/experiment_...,gpt-4-1106-preview,gpt-4-1106-preview,You are a helpful assistant in a negotiation s...,You are a helpful assistant in a negotiation s...,7,13,Control,T1,Control,T1,47,buyer,gpt-4-1106-preview
3752,BuySellGame,/home/work/mgjeon/NegotiationArena/experiment_...,gpt-4-1106-preview,gpt-4-1106-preview,NaN,NaN,6,14,Control,T2,Control,T2,46,buyer,gpt-4-1106-preview
3753,BuySellGame,/home/work/mgjeon/NegotiationArena/experiment_...,gpt-4-1106-preview,gpt-4-1106-preview,You are a participant in a Negotiation. Naviga...,You are a helpful assistant in a negotiation s...,7,13,Control,T0,Control,T1,47,buyer,gpt-4-1106-preview
3754,BuySellGame,/home/work/mgjeon/NegotiationArena/experiment_...,gpt-4-1106-preview,gpt-4-1106-preview,NaN,You are a participant in a Negotiation. Naviga...,6,14,Control,T2,Control,T0,46,buyer,gpt-4-1106-preview

In [6]:
# 'winner'가 'buyer'인 경우를 승리로 간주하여 새로운 컬럼 추가
df['buyer_win'] = df['winner'] == 'buyer'

# 'buyer' 기준으로 'behaviour_2_persona' 별 승률 계산
win_rate = df.groupby('behaviour_2_persona')['buyer_win'].mean().reset_index()

# 승률을 백분율로 변환
win_rate['win_rate'] = win_rate['buyer_win'] * 100

# 결과 출력
print(win_rate[['behaviour_2_persona', 'win_rate']])

  behaviour_2_persona   win_rate
0          Altruistic  64.206642
1         Competitive  73.048327
2             Control  66.977612
3         Cooperative  65.745856
4             Cunning  73.184358
5           Desperate  71.673004
6             Selfish  70.919325

In [20]:
def get_win_rate(df):
    # 'buyer' 기준으로 'behaviour_2_persona' 별 승률 계산
    win_rate = df.groupby('behaviour_2_persona')['buyer_win'].mean().reset_index()

    # 승률을 백분율로 변환
    win_rate['win_rate'] = win_rate['buyer_win'] * 100

    # 결과 출력
    print(win_rate[['behaviour_2_persona', 'win_rate']])

In [21]:
for persona in df["behaviour_1_persona"].unique():
    temp = df.query(f"behaviour_2_persona == '{persona}'")
    get_win_rate(temp)

  behaviour_2_persona   win_rate
0         Cooperative  65.745856
  behaviour_2_persona   win_rate
0         Competitive  73.048327
  behaviour_2_persona   win_rate
0          Altruistic  64.206642
  behaviour_2_persona   win_rate
0             Selfish  70.919325
  behaviour_2_persona   win_rate
0             Cunning  73.184358
  behaviour_2_persona   win_rate
0           Desperate  71.673004
  behaviour_2_persona   win_rate
0             Control  66.977612

In [29]:
pivot_table = pd.pivot_table(df, values='buyer_win', index='behaviour_2_persona', columns='behaviour_1_persona', aggfunc='mean', fill_value=0)

In [30]:
df.head()

,game_name,log_path,model_1,model_2,behaviour_1,behaviour_2,resource_delta_1,resource_delta_2,behaviour_1_persona,behaviour_1_persona_item,behaviour_2_persona,behaviour_2_persona_item,sales_price,winner,winner_model,buyer_win
0,BuySellGame,/home/work/mgjeon/NegotiationArena/experiment_...,gpt-4o,gpt-4o,"You are a negotiator who prioritizes teamwork,...",You are a diplomatic negotiator who excels at ...,2,18,Cooperative,C0,Cooperative,C1,42,buyer,gpt-4o,True
1,BuySellGame,/home/work/mgjeon/NegotiationArena/experiment_...,gpt-4o,gpt-4o,You are a community-minded negotiator who beli...,"You are a negotiator who prioritizes teamwork,...",10,10,Cooperative,C2,Cooperative,C0,50,draw,draw,False
2,BuySellGame,/home/work/mgjeon/NegotiationArena/experiment_...,gpt-4o,gpt-4o,You are a diplomatic negotiator who excels at ...,"You are a negotiator who prioritizes teamwork,...",15,5,Cooperative,C1,Cooperative,C0,55,seller,gpt-4o,False
3,BuySellGame,/home/work/mgjeon/NegotiationArena/experiment_...,gpt-4o,gpt-4o,"You are a negotiator who prioritizes teamwork,...","You are a negotiator who prioritizes teamwork,...",15,5,Cooperative,C0,Cooperative,C0,55,seller,gpt-4o,False
4,BuySellGame,/home/work/mgjeon/NegotiationArena/experiment_...,gpt-4o,gpt-4o,You are a community-minded negotiator who beli...,You are a community-minded negotiator who beli...,10,10,Cooperative,C2,Cooperative,C2,50,draw,draw,False

In [31]:
pivot_table

behaviour_1_persona,Altruistic,Competitive,Control,Cooperative,Cunning,Desperate,Selfish
behaviour_2_persona,,,,,,,
Altruistic,0.766234,0.423077,0.740260,0.800000,0.506494,0.620253,0.645570
Competitive,0.907895,0.487179,0.772152,0.871795,0.584416,0.773333,0.720000
Control,0.831169,0.453333,0.727273,0.810127,0.567568,0.706667,0.582278
Cooperative,0.800000,0.453333,0.671053,0.789474,0.582278,0.696203,0.602564
Cunning,0.884615,0.584416,0.763158,0.883117,0.569444,0.721519,0.705128
Desperate,0.921053,0.480000,0.763158,0.933333,0.575342,0.657895,0.680000
Selfish,0.871795,0.519481,0.720000,0.805195,0.540541,0.780822,0.721519

In [35]:
pivot_table = pd.pivot_table(df, values='buyer_win', index='model_2', columns='model_1', aggfunc='mean', fill_value=0)
pivot_table.to_excel("/home/work/mgjeon/NegotiationArena/result_explore/buyer_win_model.xlsx")
pivot_table

model_1,gpt-3.5-turbo-1106,gpt-4-1106-preview,gpt-4o,gpt-4o-mini
model_2,,,,
gpt-3.5-turbo-1106,0.714894,0.594714,0.270833,0.725000
gpt-4-1106-preview,0.935897,0.740909,0.333333,0.978541
gpt-4o,0.944915,0.812500,0.464730,0.911017
gpt-4o-mini,0.889831,0.663793,0.223684,0.898734

In [36]:
pivot_table = pd.pivot_table(df, values='sales_price', index='model_2', columns='model_1', aggfunc='mean', fill_value=0)
pivot_table.to_excel("/home/work/mgjeon/NegotiationArena/result_explore/sales_price_model.xlsx")
pivot_table

model_1,gpt-3.5-turbo-1106,gpt-4-1106-preview,gpt-4o,gpt-4o-mini
model_2,,,,
gpt-3.5-turbo-1106,33.561702,48.220264,55.741667,39.733333
gpt-4-1106-preview,29.111111,46.186364,53.329167,34.472103
gpt-4o,27.038136,44.179167,50.506224,34.008475
gpt-4o-mini,39.597458,46.918103,53.473684,35.303797

In [37]:
pivot_table = pd.pivot_table(df, values='buyer_win', index='behaviour_2_persona', columns='behaviour_1_persona', aggfunc='mean', fill_value=0)
pivot_table.to_excel("/home/work/mgjeon/NegotiationArena/result_explore/buyer_win_persona.xlsx")
pivot_table

behaviour_1_persona,Altruistic,Competitive,Control,Cooperative,Cunning,Desperate,Selfish
behaviour_2_persona,,,,,,,
Altruistic,0.766234,0.423077,0.740260,0.800000,0.506494,0.620253,0.645570
Competitive,0.907895,0.487179,0.772152,0.871795,0.584416,0.773333,0.720000
Control,0.831169,0.453333,0.727273,0.810127,0.567568,0.706667,0.582278
Cooperative,0.800000,0.453333,0.671053,0.789474,0.582278,0.696203,0.602564
Cunning,0.884615,0.584416,0.763158,0.883117,0.569444,0.721519,0.705128
Desperate,0.921053,0.480000,0.763158,0.933333,0.575342,0.657895,0.680000
Selfish,0.871795,0.519481,0.720000,0.805195,0.540541,0.780822,0.721519

In [38]:
pivot_table = pd.pivot_table(df, values='sales_price', index='behaviour_2_persona', columns='behaviour_1_persona', aggfunc='mean', fill_value=0)
pivot_table.to_excel("/home/work/mgjeon/NegotiationArena/result_explore/sales_price_persona.xlsx")
pivot_table

behaviour_1_persona,Altruistic,Competitive,Control,Cooperative,Cunning,Desperate,Selfish
behaviour_2_persona,,,,,,,
Altruistic,41.831169,49.423077,44.870130,42.146667,19.779221,44.151899,16.253165
Competitive,39.276316,50.833333,42.506329,38.461538,44.922078,40.120000,43.573333
Control,41.506494,49.573333,44.064935,42.911392,46.513514,41.133333,48.303797
Cooperative,42.162500,51.066667,44.776316,43.144737,46.873418,41.139241,47.410256
Cunning,38.923077,47.012987,41.447368,39.428571,45.763889,40.012658,45.512821
Desperate,37.026316,47.786667,41.684211,37.573333,45.821918,41.302632,43.493333
Selfish,39.730769,19.896104,43.680000,41.012987,47.567568,39.931507,43.506329